
@{
    ViewBag.Title = "Add Customer";
}

<h2>Add Customer</h2>
<form action="viewCustomer">
    <p>
        Name:<input type="text" name="Name"/>
    </p>
    <p>
        Telephone:<input type="text" name="Telephone"/>
    </p>
    <input type="submit" value="Add Customer" />
</form>

